body * {
  margin: 0;
  padding: 0;
}

.box-login {
  margin: 60px;
  text-align: center;
  display: block;
  border: solid blue;
}
footer {
  position: absolute;
  bottom: 0;
}
#nav {
  border: solid red;
  height: 70px;
}
li {
  display: inline-block;
  border: solid purple;
  margin-right: -4px;
  padding: 5px 10px;
}
.reportbox {
  width: 300px;
  height: 20px;
  margin: 5px 0;
}
.reporttext {
  width: 600px;
  height: 300px;
  text-align: center;
  margin: 5px 0 ;
}
#profileContainer {
  padding: 10px;
  display: inline-block;
}
.profiletext {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}
